.first-screen {
    height: 100vh;
    position: relative;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/background-fist-screen-2.jpg); 
    background-size: cover;
    background-position: center;
    color: $dark-theme-clr-text-1;

    &__title {
        font-weight: 700;
        font-size: var(--first-screen-title-font-size, 56px);
        text-align: center;

        @media (max-width: $s) {
            --first-screen-title-font-size: 36px;
        }
    }

    &__subtitle {
        font-weight: 700;
        font-size: var(--first-screen-subtitle-font-size, 16px);
        line-height: 1.5;
        letter-spacing: 0.2em;
        text-transform: uppercase;

        @media (max-width: $s) {
            --first-screen-subtitle-font-size: 20px;
        }
    }

    &__arrow {
        width: 48px;
        height: 48px;
        fill: currentColor;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        animation: bounce 3s infinite;
    }
}

@keyframes bounce {
    0%, 5%, 15%, 25% {
        transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    10% {
        transform: translate(-50%, -20px);
        transform: translate(-50%, -20px);
    }

    20% {
        transform: translate(-50%, -10px);
        transform: translate(-50%, -10px);
    }
}