.portfolio-cards {
    display: grid;
    grid-template-columns: var(--portfolio-cards-greed-template-columns, 1fr 1fr);
    grid-gap: 30px 20px;

    @media (max-width: $m) {
        --portfolio-cards-greed-template-columns: 1fr;
    }

    &__elem {
        min-width: 0;
    }
}