.portfolio {
    padding-top: 80px;

    &__cards {
        margin-top: 70px;

        @media (max-width: $tablet) {
            margin: 40px auto;
            max-width: 400px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: var(--portfolio-title-font-size, 46px);
        text-align: center;
        color: $light-theme-clr-text;

        @media (max-width: $mobile-m) {
            --portfolio-title-font-size: 24px;
        }
    }
}