.portfolio-card {
    padding: 20px;
    box-shadow: 0px 10px 40px $light-theme-box-shadow;

    &__title {
        margin-top: 20px;
        font-weight: 600;
        font-size: var(--portfolio-card-title-font-size, 24px);
        color: $light-theme-clr-text;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        @media (max-width: $tablet) {
            text-align: center;
        }

        @media (max-width: $mobile-m) {
            --portfolio-card-title-font-size: 20px;
        }

        &:hover {
            color: $dark-theme-clr;
        }
    }

    &__description {
        margin-top: 13px;
        font-size: var(--portfolio-card-description-font-size, 16px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $light-theme-clr-text;

        @media (max-width: $tablet) {
            text-align: center;
        }

        @media (max-width: $mobile-m) {
            --portfolio-card-description-font-size: 14px;
        }
    }

    &__picture {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform:  translateY(-10px);
        }
    }
}