.portfolio {
    margin-top: 80px;

    &__cards {
        @media (max-width: 768px) {
            margin: 0 auto;
            max-width: 400px;
        }
    }

    &__title {
        padding-bottom: 70px;
        font-weight: 700;
        font-size: 46px;
        line-height: 1.3;
        text-align: center;
        color: #000;

        @media (max-width: 425px) {
            font-size: 24px;
        }
    }
}