.portfolio {
    margin-top: 80px;

    &__cards {
        @media (max-width: $m) {
            margin: 0 auto;
            max-width: 400px;
        }
    }

    &__title {
        margin-bottom: 70px;
        font-weight: 700;
        font-size: var(--portfolio-title-font-size, 46px);
        text-align: center;
        color: $light-theme-clr-text;

        @media (max-width: $s) {
            --portfolio-title-font-size: 24px;
        }
    }
}