$dark-theme-clr: #374562;
$dark-theme-clr-text-1: #fff; 
$dark-theme-clr-text-2: #7e9ec9; 

$light-theme-clr: #fff;
$light-theme-clr-text: #232324;
$light-theme-box-shadow: rgba(193, 225, 240, 0.35);

$btn-bg-clr: #586881;

$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;