$dark-theme-clr: #374562;
$dark-theme-clr-text-1: #fff; 
$dark-theme-clr-text-2: #7e9ec9; 

$light-theme-clr: #fff;
$light-theme-clr-text: #232324;
$light-theme-box-shadow: rgba(193, 225, 240, 0.35);


$xs: 375px;
$s: 425px;
$m: 768px;
$l: 1024px;